.clock {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 40px;
    font-family: Orbitron;
    letter-spacing: 7px;
    background-color:gainsboro;
    border-radius:10px;
    padding:10px;
}

<a href='https://www.freepik.com/vectors/muslim-illustration'>Muslim illustration vector created by freepik - www.freepik.com</a>